<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 header-section">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <nav class="navbar">
        <input class="form-control input-radius" type="text" placeholder="Search">
        <button class="btn search-icon" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </nav>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 join-div">
      <button class="btn btn-primary join-btn" type="submit" routerLink="/job">Join</button>
    </div>
  </div>
</div>