<div class="row home-container">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 grid-height shadow-container"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 grid-height shadow-container"></div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 second-grid-height shadow-container"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 second-grid-height shadow-container"></div>
  </div>
</div>